<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rssreaderjava">
    <queries> <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> </queries>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RssReaderJava">
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.RegisterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".RSSMainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SeeLaterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/NoActionBar">
        </activity>

    </application>

</manifest>